.background-image {
        /* position: relative; */
        height: 50vh;
        width: 50vw;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25vh 0 0 -25vw;
        /* border: solid 1px green; */

}

.background-image > img {
        object-fit: contain;
        height: 100%;
        width: 100%;   
}



.contact-master-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        position: absolute;
        top: 56%;
        left: 50%;
        -ms-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%);
        gap: 5px;
        /* position: absolute;
        top: 50%;
        left: 50%; */
        /* border: solid 1px red; */
        /* margin: -25vh 0 0 -25vw; */
}

.contact-title {
        color: #f5f5f5;
        font-family: 'din-2014';
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
}

.contact-item {
        color: #f5f5f5;
        font-family: 'din-2014';
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
}

.contact-container {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 90%;
        color: #f5f5f5;
        font-family: 'din-2014';
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
}

