#modal-container {
        position:fixed;
        display:table;
        height:100%;
        width:100%;
        top: 100vh;
        left: 0;
        z-index:1;
        &.on {
                animation: moveUp .75s cubic-bezier(0.12, 0.960, 0.110, 1.000) forwards;
                .-background {
                  background:rgba(0,0,0,0);

                  .content {
                    animation: moveUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                  }
                }
                + .content {
                  z-index:1;
                  animation: slideUpLarge .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
                &.out {
                  .modal-background {
                    .modal {
                      animation: moveDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    }
                  }
                  + .content {
                    animation: slideDownLarge .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                  }
                }
        }
        .modal-background {
              display:table-cell;
              background:rgba(0,0,0,0);
              text-align:center;
              vertical-align:middle;
              position: relative;
              width: 500px;
                max-width: 500px;
                height: 500px;
                max-height: 500px;
                .modal {
                  position:relative;
                }
                .modal > img {
                        width: 100%;
                        height: 100%;
                }
        }
}


.scroll-container-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 888;
}

*::-webkit-scrollbar {
  display: none;
}

.block-modal {
  background-color: black;
  position: absolute;
  top: 0px;
  height: 25vh;
  width: 105vw;
  z-index: 888;
  overflow: hidden;
  scroll-behavior: unset;
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%)
}

.scroll-modal-holder {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  overflow: hidden;
  z-index: 444;
}

.modal-scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
  /* padding: 50px 0px; */
  position: relative;
  z-index: 666;
  justify-content: space-between;
}

.parents_m {
  position: relative;
  top: 15%;
  /* top: 25vh; */
}

/* .rect {
  position: absolute;
}

#rect-1 {
  color: white;
  background-color: #f5f5f5;
  height: 12px;
  width: 128px;
  transform: translateX(-4px);
  z-index: -999;
}

#rect-2 {
  color: white;
  background-color: #f5f5f5;
  height: 12px;
  width: 144px;
  transform: translate(-4px, 21px);
  z-index: -999;
}

#rect-3 {
  color: white;
  background-color: #f5f5f5;
  height: 12px;
  width: 146px;
  transform: translate(-4px, 41px);
  z-index: -999;
}
#rect-4 {
  color: white;
  background-color: #f5f5f5;
  height: 12px;
  width: 136px;
  transform: translate(-4px, 62px);
  z-index: -999;
}
#rect-5 {
  color: white;
  background-color: #f5f5f5;
  height: 12px;
  width: 118px;
  transform: translate(-4px, 82px);
  z-index: -999;
}

#rect-6 {
  color: white;
  background-color: #f5f5f5;
  height: 12px;
  width: 68px;
  transform: translate(-4px, 102px);
  z-index: -999;
} */

/******************* ASSET 1.1 ******************/

.square_asset_modal {
  width: var(--mobile-square-media-width);
  min-width: var(--mobile-square-media-width);
  height: var(--mobile-media-height);
  min-height: var(--mobile-media-height);
}

.nonsquare_asset_modal {
  width: var(--mobile-non-square-media-width);
  min-width: var(--mobile-non-square-media-width);
  height: var(--mobile-non-square-media-height);
  min-height: var(--mobile-non-square-media-height); 
}

.image_box_modal {
  width: 100%;
  height: 100%; 
}

.image_box_modal > img {
  object-fit: cover;
  width: 100%;
  height: 100%; 
}

.video_box_modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_box_modal > video {
  object-fit: cover;
  width: 100%;
  height: 100%; 
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  height: 100px;
  min-width: 200px;
}

.hero-text > * {
  color: black;
  font-size: 10px;
  width: fit-content;
  font-weight: 600;
}


.text_m {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 10px;
}

.text_m > * {
  color: #f5f5f5;
  font-size: 10px;
}

.text_m > :first-child {
  font-weight: 600;
}

/* .text_m:nth-child(2) {

} */

@media only screen and (min-width: 1100px) {
  #modal-container {
    position:fixed;
    display:table;
    height:100%;
    width:100%;
    top: 100vh;
    left: 0;
    z-index:1;
    &.on {
        animation: moveUp .75s cubic-bezier(0.12, 0.960, 0.110, 1.000) forwards;
        .-background {
          background:rgba(0,0,0,0);

          .content {
            animation: moveUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
        + .content {
          z-index:1;
          animation: slideUpLarge .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        &.out {
          .modal-background {
            .modal {
              animation: moveDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
          + .content {
            animation: slideDownLarge .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
    .modal-background {
      display:table-cell;
      background:rgba(0,0,0,0);
      text-align:center;
      vertical-align:middle;
      position: relative;
      width: 500px;
        max-width: 500px;
        height: 500px;
        max-height: 500px;
        .modal {
          position:relative;
        }
        .modal > img {
                width: 100%;
                height: 100%;
        }
    }
  }

  .scroll-container-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 888;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  .block-modal {
    background-color: black;
    /* border: solid 5px red; */
    position: absolute;
    left: -5vw;
    /* transform: rotate(-90deg); */
    /* bottom: 20vh; */
    /* top: 20vh; */
    height: 100vh;
    width: 350px;
    z-index: 888;
    overflow: hidden;
    scroll-behavior: unset;
    filter: blur(4px);
  }

  .scroll-modal-holder {
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg);
    overflow: hidden;
    z-index: 444;
    position: relative;
    left: 15%;
  }

  .modal-scroll-container {
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 160px; */
    /* top: 15%; */
    /* padding: 35vw 0px; */
    position: relative;
    z-index: 666;
    justify-content: space-between;
  }

  #parent_102_m {
    /* margin-top: 100px; */
  }

  .parents_m {
    transform: rotate(90deg);
    position: relative;
    /* top: unset; */
  }

  .rect {
    position: absolute;
  }

  #rect-1 {
    color: white;
    background-color: #f5f5f5;
    height: 12px;
    width: 128px;
    transform: translateX(-4px);
    z-index: -999;
  }

  #rect-2 {
    color: white;
    background-color: #f5f5f5;
    height: 12px;
    width: 144px;
    transform: translate(-4px, 21px);
    z-index: -999;
  }

  #rect-3 {
    color: white;
    background-color: #f5f5f5;
    height: 12px;
    width: 146px;
    transform: translate(-4px, 41px);
    z-index: -999;
  }
  #rect-4 {
    color: white;
    background-color: #f5f5f5;
    height: 12px;
    width: 136px;
    transform: translate(-4px, 62px);
    z-index: -999;
  }
  #rect-5 {
    color: white;
    background-color: #f5f5f5;
    height: 12px;
    width: 118px;
    transform: translate(-4px, 82px);
    z-index: -999;
  }

  #rect-6 {
    color: white;
    background-color: #f5f5f5;
    height: 12px;
    width: 68px;
    transform: translate(-4px, 102px);
    z-index: -999;
  }

  /******************* ASSET 1.1 ******************/

  .square_asset_modal {
    width: var(--square-media-width);
    min-width: var(--square-media-width);
    height: var(--media-height);
    min-height: var(--media-height);
  }

  .nonsquare_asset_modal {
    width: var(--non-square-media-width);
    min-width: var(--non-square-media-width);
    height: var(--media-height);
    min-height: var(--media-height); 
  }

  .image_box_modal {
    width: 100%;
    height: 100%; 
  }

  .image_box_modal > img {
    object-fit: cover;
    width: 100%;
    height: 100%; 
  }

  .video_box_modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
  }

  .video_box_modal > video {
    object-fit: cover;
    width: 100%;
    height: 100%; 
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    height: 100px;
    min-width: 200px;
    /* display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
        height: fit-content;
        min-width: fit-content;
        border: solid 1px red; */
  }

  .hero-text > * {
    color: black;
    font-size: 10px;
    width: fit-content;
    font-weight: 600;
  }
}






















@keyframes unfoldIn {
        0% {
          transform:scaleY(.005) scaleX(0);
        }
        50% {
          transform:scaleY(.005) scaleX(1);
        }
        100% {
          transform:scaleY(1) scaleX(1);
        }
      }
      
      @keyframes unfoldOut {
        0% {
          transform:scaleY(1) scaleX(1);
        }
        50% {
          transform:scaleY(.005) scaleX(1);
        }
        100% {
          transform:scaleY(.005) scaleX(0);
        }
      }
      
      @keyframes zoomIn {
        0% {
          transform:scale(0);
        }
        100% {
          transform:scale(1);
        }
      }
      
      @keyframes zoomOut {
        0% {
          transform:scale(1);
        }
        100% {
          transform:scale(0);
        }
      }
      
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      @keyframes fadeOut {
        0% {
          background:rgba(0,0,0,.7);
        }
        100% {
          background:rgba(0,0,0,.0);
        }
      }
      
      @keyframes scaleUp {
        0% {
          transform:scale(.8) translateY(1000px);
          opacity:0;
        }
        100% {
          transform:scale(1) translateY(0px);
          opacity:1;
        }
      }
      
      @keyframes scaleDown {
        0% {
          transform:scale(1) translateY(0px);
          opacity:1;
        }
        100% {
          transform:scale(.8) translateY(1000px);
          opacity:0;
        }
      }
      
      @keyframes scaleBack {
        0% {
          transform:scale(1);
        }
        100% {
          transform:scale(.85);
        }
      }
      
      @keyframes scaleForward {
        0% {
          transform:scale(.85);
        }
        100% {
          transform:scale(1);
        }
      }
      
      @keyframes quickScaleDown {
        0% {
          transform:scale(1);
        }
        99.9% {
          transform:scale(1);
        }
        100% {
          transform:scale(0);
        }
      }
      
      @keyframes slideUpLarge {
        0% {
          transform:translateY(0%);
        }
        100% {
          transform:translateY(-100%);
        }
      }
      
      @keyframes slideDownLarge {
        0% {
          transform:translateY(-100%);
        }
        100% {
          transform:translateY(0%);
        }
      }
      
      @keyframes moveUp {
        0% {
          transform:translateY(0);
        }
        100% {
          transform:translateY(-100vh);
        }
      }
      
      @keyframes moveDown {
        0% {
          transform:translateY(0px);
        }
        100% {
          transform:translateY(100vh);
        }
      }
      
      @keyframes blowUpContent {
        0% {
          transform:scale(1);
          opacity:1;
        }
        99.9% {
          transform:scale(2);
          opacity:0;
        }
        100% {
          transform:scale(0);
        }
      }
      
      @keyframes blowUpContentTwo {
        0% {
          transform:scale(2);
          opacity:0;
        }
        100% {
          transform:scale(1);
          opacity:1;
        }
      }
      
      @keyframes blowUpModal {
        0% {
          transform:scale(0);
        }
        100% {
          transform:scale(1);
        }
      }
      
      @keyframes blowUpModalTwo {
        0% {
          transform:scale(1);
          opacity:1;
        }
        100% {
          transform:scale(0);
          opacity:0;
        }
      }
      
      @keyframes roadRunnerIn {
        0% {
          transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
        }
        70% {
          transform:translateX(30px) skewX(0deg) scaleX(.9);
        }
        100% {
          transform:translateX(0px) skewX(0deg) scaleX(1);
        }
      }
      
      @keyframes roadRunnerOut {
        0% {
          transform:translateX(0px) skewX(0deg) scaleX(1);
        }
        30% {
          transform:translateX(-30px) skewX(-5deg) scaleX(.9);
        }
        100% {
          transform:translateX(1500px) skewX(30deg) scaleX(1.3);
        }
      }
      
      @keyframes sketchIn {
              0% {
                      stroke-dashoffset: 778;
              }
              100% {
                      stroke-dashoffset: 0;
              }
      }
      
      @keyframes sketchOut {
              0% {
                      stroke-dashoffset: 0;
              }
              100% {
                      stroke-dashoffset: 778;
              }
      }
      
      @keyframes modalFadeIn {
        0% {
          background-color:transparent;
        }
        100% {
          background-color:white;
        }
      }
      
      @keyframes modalFadeOut {
        0% {
          background-color:white;
        }
        100% {
          background-color:transparent;
        }
      }
      
      @keyframes modalContentFadeIn {
        0% {
          opacity:0;
          top:-20px;
        }
        100% {
          opacity:1;
          top:0;
        }
      }
      
      @keyframes modalContentFadeOut {
        0% {
          opacity:1;
          top:0px;
        }
        100% {
          opacity:0;
          top:-20px;
        }
      }
      
      @keyframes bondJamesBond {
        0% {
          transform:translateX(1000px);
        }
        80% {
          transform:translateX(0px);
          border-radius:75px;
          height:75px;
          width:75px;
        }
        90% {
          border-radius:3px;
          height:182px;
          width:247px;
        }
        100% {
          border-radius:3px;
          height:162px;
          width:227px;
        }
      }
      
      @keyframes killShot {
        0% {
          transform:translateY(0) rotate(0deg);
          opacity:1;
        }
        100% {
          transform:translateY(300px) rotate(45deg);
          opacity:0;
        }
      }
      
      @keyframes fadeToRed {
        0% {
          background-color:rgba(black,.6);
        }
        100% {
          background-color:rgba(red,.8);
        }
      }
      
      @keyframes slowFade {
        0% {
          opacity:1;
        }
        99.9% {
          opacity:0;
          transform:scale(1);
        }
        100% {
          transform:scale(0);
        }
      }