* {
        font-family: din-2014, sans-serif;
        font-weight: 300;
        font-style: normal;

        --media-height: 65vh;
        --square-media-width: 65vh;
        --non-square-media-width: calc((16/9) * 65vh);

        --mobile-media-height: 80vw;
        --mobile-square-media-width: 80vw;
        --mobile-non-square-media-height: calc((9/16) * 80vw);
        --mobile-non-square-media-width: 80vw;

        --medium-media-height: 60vw;
        --medium-square-media-width: 60vw;
        --medium-non-square-media-height: calc((9/16) * 60vw);
        --medium-non-square-media-width: 60vw;

        --mobile-max-height: -webkit-fill-available;
}


html, body {
        height: var(--mobile-max-height);
        /* border: solid 1px red; */
        width: 100vw;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: black;
        &.modal-active {
                overflow: hidden;
        }
}

/* html {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
} */

.logo-container {
        height: 140px;
        width: 140px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin: auto;
        z-index: 999;
}

.logo {
        height: 100%;
        width: 100%;
}

.container::-webkit-scrollbar {
        display: none;
}

.outterContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 888;
        overflow: hidden;
        &.leave {
                animation: slideUpLarge .75s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        &.comeBack {
                animation: slideDownLarge .75s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
}

.block {
        background-color: black;
        position: absolute;
        top: 0px;
        height: 25vh;
        width: 105vw;
        z-index: 888;
        overflow: hidden;
        scroll-behavior: unset;
        /* filter: blur(4px); */
        mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
        /* Add vendor prefixes for maximum browser compatibility */
        -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%)
}


.holder {
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
        z-index: 444;
}

.container {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 125px;
        padding: 30vh 0px;
        position: relative;
        z-index: 666;
        justify-content: space-between;
}

.parents {
        position: relative;
}

.square_asset {
  width: var(--mobile-square-media-width);
  max-width: var(--mobile-square-media-width);
  height: var(--mobile-media-height);
  max-height: var(--mobile-media-height);
}

.nonsquare_asset {
  width: var(--mobile-non-square-media-width);
  max-width: var(--mobile-non-square-media-width);
  height: var(--mobile-non-square-media-height);
  max-height: var(--mobile-non-square-media-height); 
}

.image_box {
        width: 100%;
        height: 100%; 
}

.video_box {
        width: 100%;
        height: 100%; 
}

.video_box > video {
        object-fit: cover;
        width: 100%;
        height: 100%; 
}

.image {
        object-fit: cover;
        width: 100%;
        height: 100%;
}

/* ------------------------------ PROJECT 1 ------------------------------ */
.text_P1 {
        color: #f5f5f5;
        margin-left: 12px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 12px;
}

.P1_line_1 {
        font-weight: 600;
}

/* ------------------------------ PROJECT 2 ------------------------------ */

.text_P2 {
        color: #f5f5f5;
        margin-left: 48px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 12px;
}

.P2_line_1 {
        font-weight: 600;
}

/* ------------------------------ PROJECT 3 ------------------------------ */

.text_P3 {
        color: #f5f5f5;
        margin-left: 12px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 12px; 
}

.P3_line_1 {
        font-weight: 600;
}

/* ------------------------------ PROJECT 4 ------------------------------ */

.text_P4 {
        color: #f5f5f5; 
        margin-left: 12px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 12px; 
}

.P4_line_1 {
        font-weight: 600;
}


/* ------------------------------ PROJECT 5 ------------------------------ */

.text_P5 {
        color: #f5f5f5; 
        margin-left: 12px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 12px; 
}

.P5_line_1 {
        font-weight: 600;
}

@supports (animation-timeline: view()) {
        .scroll_images {
          animation: fade linear both;
          animation-timeline: view(y);
          animation-range: cover 55% cover 75%;
        }

        .scroll_modal {
                animation: fade linear both;
                animation-timeline: view(y);
                animation-range: cover 35% cover 65%;
        }

        .test {
                animation: fade linear both;
                animation-timeline: view(y);
                animation-range: cover 55% cover 98%; 
        }
}

/* @media screen and (min-width: 600px) and (max-width: 1100px) {


        .square_asset {
                width: var(--medium-square-media-width);
                max-width: var(--medium-square-media-width);
                height: var(--medium-media-height);
                max-height: var(--medium-media-height);
              }
              
              .nonsquare_asset {
                width: var(--medium-non-square-media-width);
                max-width: var(--medium-non-square-media-width);
                height: var(--medium-non-square-media-height);
                max-height: var(--medium-non-square-media-height); 
              }
} */

@media only screen and (min-width: 1100px) {
        .test_typewriter {
                border: solid 1px red;
                position: absolute;
                top: 200px;
                height: fit-content;
                width: fit-content;
                z-index: 9999999;
        }

        .test_typewriter > * {
                /* color: #f5f5f5; */
                font-size: 24px;
        }

        .cursor {
                margin-left: 0.1em;
                border-right: 0.06em solid;
                animation: caret 1s steps(1) infinite;
        }

        .logo-container {
                height: 15vh;
                width: 15vh;
                position: absolute;
                top: 0;
                bottom: 0;
                /* right: 10vw; */
                left: 25px;
                /* left: 50px; */
                margin: auto 0;
                transform: translateX(50px);
                z-index: 999;
                /* border: solid 1px green; */
        }

        .logo-container > img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                height: 100%;
                width: 100%;
                
        }

        .outterContainer {
                width: 100vw;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                /* transform: translate(-100px); */
                /* border: solid 4px yellow; */
                position: relative;
                z-index: 888;
                &.leave {
                        animation: slideUpLarge .75s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
                &.comeBack {
                        animation: slideDownLarge .75s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
        }

        .block {
                background-color: black;
                /* border: solid 5px red; */
                position: absolute;
                left: -5vw;
                /* transform: rotate(-90deg); */
                /* bottom: 20vh; */
                /* top: 20vh; */
                height: 100vh;
                width: 350px;
                z-index: 888;
                overflow: hidden;
                scroll-behavior: unset;
                filter: blur(4px);
        }

        .holder {
                width: 100vh;
                height: 100vw;
                overflow-y: auto;
                overflow-x: hidden;
                transform: rotate(-90deg);
                overflow: hidden;
                z-index: 444;
                /* border: solid 2px red; */
                position: relative;
                left: 15%;
                /* left: 50%; */
                /* top: 50%; */
                transform: rotate(-90deg);
        }

        .container {
                width: 100vh;
                height: 100vw;
                overflow-y: auto;
                overflow-x: hidden;

                
                /* transform: translateY(200px); */
                display: flex;
                flex-direction: column;
                align-items: center;
                /* --gap-size: 120px;
                gap: var(--gap-size); */
                /* padding: 35vw 0px; */
                /* border: solid 3px green; */
                position: relative;
                /* top: 100px; */
                z-index: 666;
                justify-content: space-between;
        }

        /* .container:has(.square_asset) {
                --gap-size: 222px;
        } */

        .parents {
                transform: rotate(90deg);
                /* border: solid 1px red; */
                position: relative;
                /* top: 400px; */
                /* top: 50vh; */
        }

        .square_asset {
                width: var(--square-media-width);
                max-width: var(--square-media-width);
                height: var(--media-height);
                max-height: var(--media-height);

                /* margin-top: 120px; */
        }
        
        .nonsquare_asset {
                width: var(--non-square-media-width);
                max-width: var(--non-square-media-width);
                height: var(--media-height);
                max-height: var(--media-height); 

                
        }

        /* #parent_2 {
                margin-top: 30vh;
        } */

        /* #parent_3 {
                margin-top: 30vh;
        }

        #parent_4 {
                margin-top: 30vh;
        }

        #parent_5 {
                margin-top: 30vh;
        }

        #parent_6 {
                margin-top: 30vh;
        }

        #parent_7 {
                margin-top: 30vh;
        } */

        #parent_9 {
                width: 0;
        }
        
        .image_box {
                width: 100%;
                height: 100%; 
        }
        
        .video_box {
                width: 100%;
                height: 100%; 
        }
        
        .video_box > video {
                object-fit: cover;
                width: 100%;
                height: 100%; 
        }
        
        .image {
                object-fit: cover;
                width: 100%;
                height: 100%;
        }

        /* ------------------------------ PROJECT 1 ------------------------------ */


        .text_P1 {
                color: #f5f5f5;
                margin-left: 12px;
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                font-size: 12px;
        }

        .P1_line_1 {
                font-weight: 600;
        }

        /* ------------------------------ PROJECT 2 ------------------------------ */


        .text_P2 {
                color: #f5f5f5;
                margin-left: 48px;
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                font-size: 12px;
        }

        .P2_line_1 {
                font-weight: 600;
        }

        /* ------------------------------ PROJECT 3 ------------------------------ */

        .text_P3 {
                color: #f5f5f5;
                margin-left: 12px;
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                font-size: 12px; 
        }

        .P3_line_1 {
                font-weight: 600;
        }

        /* ------------------------------ PROJECT 4 ------------------------------ */

        .text_P4 {
                color: #f5f5f5; 
                margin-left: 12px;
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                font-size: 12px; 
        }

        .P4_line_1 {
                font-weight: 600;
        }


/* ------------------------------ PROJECT 5 ------------------------------ */

        .text_P5 {
                color: #f5f5f5; 
                margin-left: 12px;
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                font-size: 12px; 
        }

        .P5_line_1 {
                font-weight: 600;
        }

        /* ------------------------------ PROJECT FILLER ------------------------------ */


        .parent_7 {
                height: 400px;
                width: 300px;
                max-width: 300px;
                max-height: 400px; 
                position: relative;
                top: calc(393.75px + 393.75px + 353.75px);
        }

        @supports (animation-timeline: view()) {
                .scroll_images {
                  animation: fade ease both;
                  animation-timeline: view(y);
                  animation-range: cover 55% cover 75%;
                  /* border: solid 2px red; */
                }
        
                .scroll_modal {
                        /* animation: fade linear both;
                        animation-timeline: view(y);
                        animation-range: cover 35% cover 65%; */
                        animation: fade linear both;
                        animation-timeline: view(y);
                        animation-range: cover 55% cover 75%;
                }
        
                .test {
                        animation: fade linear both;
                        animation-timeline: view(y);
                        animation-range: cover 55% cover 98%; 
                }
        }
}




      

      




















/* ------------------------------ PROJECT 6 ------------------------------ */

/* .parent_6 {
        height: 400px;
        width: 300px;
        max-width: 300px;
        max-height: 400px; 
        position: relative;
        border: solid 1px red;
}

.image_box_6 {
        height: 400px;
        width: 300px;
        max-width: 300px;
        max-height: 400px; 
}

.image_6 {
        object-fit: contain;
        width: 100%;
        height: 100%;
}

.text_P6 {
        color: #f5f5f5; 
} */

/* .image_6 {
        width: 300px;
        height: 400px;
        margin-top: -100px;
} */







@keyframes fade {
        from,
        to {
          opacity: 1;
          filter: blur(8px);
          transform: scale(1);
          pointer-events: none;
        }
        10%,
        90% {
          opacity: 1;
          filter: blur(0px);
          transform: scale(1.2);
          pointer-events: all;
        }
}

@keyframes opac {
        from,
        to {
          opacity: 0;
          /* filter: blur(4px); */
        }
        10%,
        90% {
          opacity: 1;
          /* filter: blur(0px); */
        }
}

@keyframes blur-animation {
        0% {
          filter: blur(0px);
        }
        50% {
          filter: blur(2px);
        }
        100% {
          filter: blur(4px);
        }
};



.reveal-image-fast {
        -webkit-animation: revealImage 0.5s forwards ease;
        -moz-animation:    revealImage 0.5s forwards ease;
        -o-animation:      revealImage 0.5s forwards ease;
        -ms-animation:    revealImage 0.5s forwards ease;
        animation:         revealImage 0.5s forwards ease;
}
    
.hide-image-fast {
        -webkit-animation: hideImage 0.5s forwards ease;
        -moz-animation:    hideImage 0.5s forwards ease;
        -o-animation:      hideImage 0.5s forwards ease;
        -ms-animation:    hideImage 0.5s forwards ease; 
        animation:         hideImage 0.5s forwards ease;
}



/* , opac linear both */
        /* , cover 10% cover 100% */

        /* .opac {
                animation: opac linear both;
                animation-timeline: view(y);
                animation-range: cover 40% cover 95%; 
        } */



        /* .name2 {
          animation: fade linear both;
          animation-timeline: view(y);
          animation-range: cover 10% cover 70%, cover 5% cover 15%;
        } */